*{
    margin:0;
    padding:0;
}
.header{
    background-color:#f5f5f5;
    padding:30px;
    display: flex;
    background-image: linear-gradient(rgb(243, 202, 202), rgb(232, 232, 212), rgb(210, 244, 210));

}
@font-face {
    font-family: HeadText;
    src: url(../Fonts/From\ Cartoon\ Blocks.ttf);
}
.header h1{
    font-family: HeadText;
    color:#150c66;
    font-size: 30px;
    flex:1;
    text-shadow: 0 0 3px #FF0000;

}
.header ul{
    list-style: none;
    flex:1;
}
.header ul li{
    display: inline;
    padding:10px;
}
.header ul li i{
    color:blue;
    padding:5px;
}

/* End header */

/* Nav */
nav{
    display: flex;
}

nav #left-nav{
    list-style: none;
    margin:0;
    padding:0;
}
nav #left-nav li{
    display: inline;
    padding: 14px 16px;
}

nav #left-nav li a{
    text-decoration: none;
    padding: 14px 16px;
    margin:10px;
}

nav #left-nav{
    flex:4;
}
nav #right-nav{
    flex:1;
    justify-content: flex-end;
}
nav #right-nav{
    list-style: none;
    margin:0;
    padding:0;
}
nav #right-nav li{
    display: inline;
}
.row{
    display:-webkit-flex;
    display: flex;
}
.column{
    padding:10px;
    height: 300px;
}
.column.side{
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    background-color: aqua;
}
.column.middle{
    -webkit-flex:2;
    -ms-flex:2;
    flex:2;
    background-color: blueviolet;
}
.footer{
    background-color: aquamarine;
    text-align: center;
    padding:10px;
}
@media (max-width:600px){
    .row{
        -webkit-flex-direction:column;
        flex-direction:column;
    }
}